:root {
  --link: #257f80;
  --text: hsla(120, 100%, 98%, 0.88);
  background-image: url("./background1.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
}

body {
  margin: 0;
  padding: 30px;
  color: var(--text);
  font-family: 'Oswald', serif;
}

#root {
  height: 100vh; 
}

.header {
  background-color: #243118;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  margin-top: 20px; 
  background-color: hsla(120, 100%, 98%, 0.88);
  border-radius: 10px;
  padding: 20px;
  color: #435237;
}

h1 {
  font-size: 120px;
  letter-spacing: 10px;
  margin: 0; 
  padding: 0; 
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0; 
  padding: 5px; 
}

.oswald-ama {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 305;
  font-style: normal;
}

.underline {
  text-decoration: underline;
}

.result-color {
  color: rgb(255, 0, 0);
}